services:
  app:
    build:
      context: .
      target: development
    environment:
      - ARANGODB_URL=http://arangodb:8529/
    volumes:
      - .:/app
    ports:
      - 3000:3000
      - 9222:9222
    command: 'sh -c "sleep 5 && npm run build && npm run start"'
    networks:
      - db
    depends_on:
      - arangodb
  arangodb:
    image: arangodb:3.12.1
    ports:
      - 8529:8529
    environment:
      - ARANGO_NO_AUTH=1d
    networks:
      - db
networks:
  db:
